#include "skeleton.dtsi"
#include <dt-bindings/clock/aspeed-clock.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/aspeed-scu-irq.h>

/ {
	model = "AST2600 SOC";
	compatible = "aspeed";
	#address-cells = <1>;
	#size-cells = <1>;
	interrupt-parent = <&vic>;

	memory@80000000 {
		reg = <0x80000000 0x20000000>;
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu@0 {
			compatible = "arm,arm1176jz-s";
			device_type = "cpu";
			reg = <0>;
		};
	};

	apb {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

#if 0
		ftgmac_mdio0: mdio@1e660060 {
                                compatible = "aspeed,ast2500-mdio";
                                #address-cells = <1>;
                                #size-cells = <0>;
                                reg = <0x1e660060 0x4>;
                                phy0: ethernet-phy@0 {
                                        device_type = "ethernet-phy";
					compatible = "ethernet-phy-ieee802.3-c22";
                                        reg = <0>;
                                };
                        };
#endif
		mac0: ftgmac@1e660000 {
			compatible = "aspeed,ast2600-mac", "faraday,ftgmac100";
			reg = <0x1e660000 0x180>, <0x1e650000 0x4>;
			#address-cells = <1>;
                        #size-cells = <0>;

			interrupts = <2>;
#if 0
			phy-handle = <&phy0>;
#endif
		};
#if 0
			ftgmac_mdio1: mdio@1e680a060 {
                                compatible = "aspeed,ast2500-mdio";
                                #address-cells = <1>;
                                #size-cells = <0>;
                                reg = <0x1e680060 0x4>;
				phy1: ethernet-phy@0 {
					device_type = "ethernet-phy";
                                        reg = <0>;
                                };
#endif
		vic: interrupt-controller@1e6c0080 {
			compatible = "aspeed,ast2500-vic";
			interrupt-controller;
			#interrupt-cells = <1>;
			valid-sources = <0xfefff7ff 0x0807ffff>;
			reg = <0x1e6c0080 0x80>;
		};

		mmc: mmc@1e6e0000 {
			compatible = "aspeed,ast2600-sdmc";
			reg = <0x1e6e0000 0x200>;
			interrupts = <0>;
		};

		syscon: syscon@1e6e2000 {
			compatible = "aspeed,ast2500-scu", "syscon", "simple-mfd";
			reg = <0x1e6e2000 0x1000>;
			ranges = <0 0x1e6e2000 0x1000>;
			#address-cells = <1>;
			#size-cells = <1>;
			#clock-cells = <1>;
			#reset-cells = <1>;

		};

		timer: timer@1e782000 {
			/* This timer is a Faraday FTTMR010 derivative */
			compatible = "aspeed,ast2600-timer";
			reg = <0x1e782000 0x90>;
			interrupts = <16 17 18 35 36 37 38 39>;
#if 1
			clock-frequency = <24000000>;
#else
			clocks = <&syscon ASPEED_CLK_APB>;
			clock-names = "PCLK";
#endif
		};

		uart0: serial@1e784000 {
			compatible = "ns16550a";
			reg = <0x1e784000 0x1000>;
			reg-shift = <2>;
			interrupts = <8>;
#if 1
			clock-frequency = <1846154>;
#else
			clocks = <&syscon ASPEED_CLK_GATE_UART5CLK>;
#endif
			no-loopback-test;
		};

	};

};

&syscon {
	scu_ic: interrupt-controller@0 {
		#interrupt-cells = <1>;
		compatible = "aspeed,ast2500-scu-ic";
		reg = <0x18 0x04>;
		interrupts = <21>;
		interrupt-controller;
	};

};
