/dts-v1/;

#include "aspeed-g6.dtsi"

/ {
	model = "AST2600 EVB";
	compatible = "aspeed,ast2600";

	aliases {
		serial0 = &uart0;
	};

	chosen {
		stdout-path = &uart0;
		bootargs = "console=ttyS0,115200n8 root=/dev/ram rw init=/linuxrc";
	};

};

&uart0 {
	status = "okay";
};
