/dts-v1/;

#include "aspeed-g6.dtsi"

/ {
	model = "AST2600 EVB";
	compatible = "aspeed,ast2600";

	aliases {
		serial4 = &uart5;
	};

	chosen {
		stdout-path = &uart5;
		bootargs = "console=ttyS4,115200 root=/dev/ram0 rw initrd=0x81A00000,32M earlyprintk mem=498M init=/linuxrc";
	};

	memory {
		reg = <0x80000000 0x20000000>;
	};
};

&uart5 {
	status = "okay";
};
